@import "basic.less";
@import "decoration.less";

// ----------------------------------------
// ! values
// ----------------------------------------

@c-red: #F42A25;
@c-gray-background: #EEEEEE;
@c-border-color: #DCDCDC;
@c-border-color-dark: #767676;

.col-10-5 {
	width: 20%;
}

body {
	font-family:"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
	background: #fff;
	min-width: 1024px;

	.container {
		min-width: 1024px;
	}
}

header {
	height: 80px;

	.logo {
		margin-top: 14px;
	}

	.language {
		padding: 14px 6px 6px;
		display: inline-block;
		background: #000;
		color: #aaa;

		a {
			color: #fff;
			transition: .5s;

			&:hover {
				color: @c-red + #333;
			}
		}
	}

	.contact {
		a {
			color: black;
			font-size: 18px;
			font-weight: bold;
		}
	}
}

nav.navbar {
	height: 55px;
	background: @c-red;
	border-radius: 0;
	box-shadow: 0 3px 3px 2px rgba(75, 5, 0, 0.3);
	position: relative;
	z-index: 10;
	margin: 0;

	.col-sm-8 {
		padding-left: 0;
	}

	.menu-list {
		margin: 0;
		padding: 0;
		list-style: none;
		display: table;
		width: 100%;

		li {
			display: table-cell;
			position: relative;
			width: 1%;

			&::after {
				content: " ";
				width: 1px;
				height: 43px;
				top: 6px;
				right: 0;
				position: absolute;
				background: #B2332D;
			}
		}

		a {
			color: #fff;
			text-align: center;
			display: block;
			line-height: 54px;
			font-size: 22px;

			&:hover {
				background: @c-red - #111;
			}
		}
	}

	.search {
		form {
			position: absolute;
			right: 0;
			top: 11px;
			width: 80%;

			input {
				background: none;
				box-shadow: none;
				width: 100%;
				padding-right: 40px;
				color: #fff;
			}

			input::-webkit-input-placeholder {
			    color: #c83226 - #222;
			    font-size: 14px;
			    line-height: 24px;
			    padding-left: 6px;
			}
			 
			input:-moz-placeholder {
			    color: #c83226 - #222;
			    font-size: 14px;
			    line-height: 24px;
			    padding-left: 6px;
			}
			 
			input:-ms-input-placeholder {
			    /* IE10+ */
			    color: #c83226 - #222;
			    font-size: 14px;
			    line-height: 24px;
			    padding-left: 6px;
			}

			button {
				position: absolute;
				right: 0;
				top: 0;
				width: 32px;
				height: 32px;
				border: none;
				box-shadow: none;
				background: url(../img/search.png) center center no-repeat;

				&::before {
					content: " ";
					position: absolute;
					top: 0;
					left: 0;
					width: 1px;
					height: 32px;
					background: #DDDDDD;
				}
			}
		}
	}

	.contact {
		float: right;
		a {
			color: black;
			font-size: 18px;
			font-weight: bold;
			line-height: 54px;
		}
	}
}

.main {
	position: relative;
}

section.slide {
	.carousel-control {
		top: 50%;
		bottom: auto;
		transform: translateY(-50%);

		width: 33px;
		height: 33px;
		line-height: 33px;
		text-align: center;
		background-color: @c-red;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 9px 17px;
		opacity: .9;
		transition: .5s;

		&:hover {
			opacity: 1;
			background-size: 10px 19px;
		}

		&.left {
			left: 60px;
			background-image: url(../img/left-arrow.png);
		}

		&.right {
			right: 60px;
			background-image: url(../img/right-arrow.png);
		}
	}

	.item {
		width: 100%;
		padding-top: 50%;
		max-height: 580px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}

	.carousel-caption {
		font-weight: bold;

		&.right {
			left: 50%;
			right: 15%;
			text-align: right;
			top: 60px;
		}
		
		.carousel-title {
			font-size: 54px;
			font-weight: bold;
			line-height: 60px;
			position: relative;
			margin-right: -36px;
		}

		.year {
			text-align: left;
			font-size: 20px;
			padding-top: 24px;
		}

		.rate {
			background: @c-red;
			line-height: 88px;
			text-align: center;
			font-size: 48px;

			span {
				font-weight: lighter;
			}
		}
		
		.describe {
			font-size: 18px;
			font-style: italic;
			padding-top: 68px;

			span {
				font-size: 24px;
				color: @c-red;
			}
		}
	}
}


section .title {
	text-align: center;
	position: relative;
	font-size: 20px;
	margin-top: 48px;
	margin-bottom: 24px;

	&::before {
		position: absolute;
		content: " ";
		background: #767676;
		height: 1px;
		width: 100%;
		top: 50%;
		left: 0;
	}

	span {
		padding: 0 12px;
		background: #fff;
		position: relative;

		&::before, &::after {
			content: " ";
			border-radius: 5px;
			background: @c-red;
			width: 9px;
			height: 9px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}

		&::before {
			left: -4px;
		}

		&::after {
			right: -4px;
		}
	}
}

section.honour {
	margin-bottom: 72px;

	.carousel-control {
		top: auto;
		bottom: -24px;
		width: 32px;
		height: 32px;
		border-radius: 16px;
		background-position: center center;
		background-color: #E5E5E5;
		background-repeat: no-repeat;
		left: 50%;

		&.left {
			background-image: url(../img/dark-left-arrow.png);
			transform: translateX(-38px);
		}

		&.right {
			background-image: url(../img/dark-right-arrow.png);
			transform: translateX(6px);
		}
	}

	.img-responsive {
		margin: 0 auto;
	}
}

section.team {
	margin-bottom: 60px;

	.carousel-control {
		top: auto;
		bottom: -60px;
		width: 32px;
		height: 32px;
		border-radius: 16px;
		background-position: center center;
		background-color: #E5E5E5;
		background-repeat: no-repeat;
		left: 50%;

		&.left {
			background-image: url(../img/dark-left-arrow.png);
			transform: translateX(-38px);
		}

		&.right {
			background-image: url(../img/dark-right-arrow.png);
			transform: translateX(6px);
		}
	}

	.img-responsive {
		margin: 0 0 24px;
	}

	.item {
		
	}
}

section.co-op {
	.item-inner {
		display: table;
		width: 100%;

		.img-wrapper {
			display: table-cell;
		}
	}

	.carousel-control {
		top: auto;
		bottom: -60px;
		width: 32px;
		height: 32px;
		border-radius: 16px;
		background-position: center center;
		background-color: #E5E5E5;
		background-repeat: no-repeat;
		left: 50%;

		&.left {
			background-image: url(../img/dark-left-arrow.png);
			transform: translateX(-38px);
		}

		&.right {
			background-image: url(../img/dark-right-arrow.png);
			transform: translateX(6px);
		}
	}

	.img-responsive {
		margin: 0 auto;
	}
}

section.feedback {
	margin-bottom: 24px;

	.carousel-control {
		top: auto;
		bottom: 36px;
		width: 32px;
		height: 32px;
		border-radius: 16px;
		background-position: center center;
		background-color: #E5E5E5;
		background-repeat: no-repeat;
		left: 50%;

		&.left {
			background-image: url(../img/dark-left-arrow.png);
			transform: translateX(-38px);
		}

		&.right {
			background-image: url(../img/dark-right-arrow.png);
			transform: translateX(6px);
		}
	}

	.img-responsive {
		margin: 0 auto;
	}

	.feedback-wrapper {
		width: 55%;
		margin: 0 auto;
		padding: 60px 90px 120px;
		border: 1px solid @c-border-color;
		background: @c-gray-background url(../img/pencil.png) right bottom no-repeat;
	}

	.feedback-inner {
		position: relative;

		p {
			line-height: 28px;
			//text-indent: 2em;
			position: relative;
			text-align: justify;
			color: #6b6b6b;

			background-image: -moz-linear-gradient(top , transparent 27px, #B5B5B5 27px, #B5B5B5 28px);
			background-image: -webkit-linear-gradient(transparent 27px, #B5B5B5 27px, #B5B5B5 28px);
			background-image: linear-gradient(to bottom, transparent 27px, #B5B5B5 27px, rgba(0,0,0,0.3) 28px);
			background-repeat: repeat-y;
			background-size: 100% 28px;
			
			.start, .end {
				display: inline-block;
				width: 21px;
				height: 19px;
				background-repeat: no-repeat;
				position: relative;
			}

			.start {
				background-image: url(../img/quotation-start.png);
				margin-right: 12px;
				margin-top: -12px;
			}

			.end {
				background-image: url(../img/quotation-end.png);
				margin-bottom: -18px;
			}

			// &::before, &::after {
			// 	position: absolute;
			// 	content: ' ';
			// 	width: 21px;
			// 	height: 19px;
			// 	background-repeat: no-repeat;
			// }

			// &::before {
			// 	top: 0;
			// 	left: 0;
			// 	background-image: url(../img/quotation-start.png);
			// }

			// &::after {
			// 	right: 0;
			// 	bottom: 0;
			// 	background-image: url(../img/quotation-end.png)
			// }
		}

		.customer {
			position: absolute;
			bottom: -48px;
			right: 0;
			color: #6b6b6b;

			&::before {
				content: " ";
				left: -50px;
				position: absolute;
				width: 48px;
				height: 1px;
				background: #6b6b6b;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}

section.together {
	color: #6b6b6b;
	padding-top: 48px;

	.together-col {
		height: 560px;
		background: @c-gray-background;
		border: 1px solid @c-border-color;
		padding: 0 30px 30px;
		position: relative;
	}

	.col-title {
		font-size: 20px;
		font-weight: bold;
		text-align: center;
		padding: 28px 0;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	.hot-item-list {
		li {
			display: block;
			margin-bottom: 30px;

			a {
				display: block;
				height: 100px;
				border: 1px solid @c-border-color;
				background-color: #fff;
				background-position: 6px center;
				background-repeat: no-repeat;
				position: relative;
				padding-left: 34px;
				color: black;
				font-size: 16px;
				padding-top: 28px;
				line-height: 20px;

				.link-inner {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
				}

				small {
					font-size: 12px;
				}

				&.free::after {
					content: " ";
					background: url(../img/free.png) no-repeat;
					width: 34px;
					height: 83px;
					position: absolute;
					top: -3px;
					right: 28px;
				}

				&.water-mark-doc {
					background-image: url(../img/doc-water-mark.png)
				}

				&.water-mark-clipboard {
					background-image: url(../img/clipboard-water-mark.png)
				}
			}
		}
	}

	.point-list {
		li {
			display: block;

			p {
				margin-bottom: 24px;
				font-size: 16px;
				font-weight: bold;
			}
		}

		.icon {
			padding-left: 84px;
			background-repeat: no-repeat;
		}

		.item-title {
			font-size: 24px;
			color: @c-red;

			span {
				font-size: 18px;
			}
		}

		.icon-tea {
			background-image: url(../img/tea.png);
			background-position: 15px top;
		}.icon-tie {
			background-image: url(../img/tie.png);
			background-position: 18px 8px;
		}.icon-award {
			background-image: url(../img/award.png);
			background-position: 12px 6px;
		}.icon-like {
			background-image: url(../img/like.png);
			background-position: 10px 8px;
		}.icon-sun {
			background-image: url(../img/sun.png);
			background-position: 12px 6px;
		}

	}

	.news-list {
		li {
			display: block;
			margin-bottom: 24px;
		}

		.news-title {
			color: @c-red;
		}

		a:hover {
			.content {
				color: #333;
				transition: .3s;
			}
		}

		.content {
			font-size: 14px;
			color: #6b6b6b;
			position: relative;
			line-height: 17px;
			text-indent: 2em;

			.left, .right {
				float: left;
			}

			.left {
				width: 40%;
			}

			.right {
				width: 60%;
			}
		}
	}

	.more {
		position: absolute;
		right: 30px;
		bottom: 24px;
		font-size: 14px;
		color: #6b6b6b;
	}
}

footer {
	background: url(../img/footer-bakcground.jpg) no-repeat, url(../img/footer-pattern.jpg) repeat ;
	margin-top: 84px;
	padding-top: 60px;
	background-size: contain;
	font-size: 12px;
	font-weight: bolder;
	color: #d7b1ae;
	padding-bottom: 36px;

	.title {
		font-size: 16px;
	}

	.contact {
		padding-left: 120px;

		p {
			margin-bottom: 12px;
			font-size: 12px;

			&:nth-last-child(1) {
				margin-bottom: 0;
			}
		}
	}

	.bottom, .copyright {
		position: absolute;
		left: 100%;
		width: 100%;
		bottom: 0;
		p {
			margin-top: 12px;
		}
	}

	.copyright {
		left: 200%;
		color: black;
		text-align: center;
	}

	.col-sm-4 {
		&::after {
			content: " ";
			width: 1px;
			height: 110%;
			background: #DB3A32;
			position: absolute;
			left: 190%;
			top: 0;
		}
	}
}